<% columns.each do |column| %>
  <div class="group">
    <%%= f.label :<%= column.name %>, "<%= column.name.capitalize %>", :class => :label %>
    <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
    <span class="description">Ex: a simple text</span>
  </div>
<%- end -%>        
<div class="group navform">
  <button class="button" type="submit">
    <%%= image_tag("web-app-theme/tick.png", :alt => "Save") %> Save
  </button>  
  <%%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "Cancel")} Cancel", <%= controller_routing_path %>_path, :class => "button" %> 
  <div class="clear"></div>
</div>