<h1><%= options[:app_name] %></h1>
.block#block-signup
  <h2>Sign up</h2>
  .content
    .flash
      - flash.each do |type, message|
        .message{:class => type.to_s}
          %p=  message
    - form_for :<%= resource_name %>, :url => <%= controller_routing_path %>_path, :html => { :class => 'form' } do |f|
      .group.wat-cf
        .left
          <label class="label">Login</label>
        .right
          = f.text_field :login, :class => 'text_field'
      .group.wat-cf
        .left
          <label class="label">Email</label>                
        .right
          = f.text_field :email, :class => 'text_field'
      .group.wat-cf
        .left
          <label class="label">Password</label>
        .right
          = f.password_field :password, :class => 'text_field'
      .group
        .left.wat-cf
          <label class="label">Password</label>
        .right
          = f.password_field :password_confirmation, :class => 'text_field'
            
      .group.navform
        <input type="submit" class="button" value="Sign up" />