<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%%= link_to 'All <%= plural_model_name %>', <%= controller_routing_path %>_path %></li>
      <li><%%= link_to 'New <%= model_name %>', new_<%= singular_controller_routing_path %>_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title"><%= plural_model_name %></h2>
    <div class="inner">
      <%% form_tag "", :class => :form do -%>
        <table class="table">
          <tr>             
            <th class="first">ID</th>
            <th><%= columns.first.name.capitalize %></th>
            <th>Created at</th>
            <th class="last">&nbsp;</th>
          </tr>
          <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| -%>
          <tr>
            <td>
              <%%= <%= resource_name %>.id %>
            </td>
            <td>
              <%%= link_to <%= resource_name %>.<%= columns.first.name %>, <%= resource_name %>_path(<%= resource_name %>) %>
            </td>
            <td>
              <%%= <%= resource_name %>.created_at %>
            </td>
            <td class="last">
              <%%= link_to 'show', <%= resource_name %>_path(<%= resource_name %>) %> |
              <%%= link_to 'edit', edit_<%= resource_name %>_path(<%= resource_name %>) %> |
              <%%= link_to 'destroy', <%= resource_name %>_path(<%= resource_name %>), :method => :delete, :confirm => 'Are you sure?' %>
            </td>
          </tr>          
          <%% end -%>
        </table>
        <div class="actions-bar">
          <div class="actions">
          </div>
          <% if options[:will_paginate] %>
          <%%= will_paginate @<%= resource_name %>  %>
          <% end %>
          <div class="clear"></div>
        </div>
      <%% end -%>
    </div>
  </div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>